.thead {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    padding: 5px;
    margin: 0 auto;
}

#one {
  background-image: url('image1.png');
  width: 200px;  
  height: 250px;
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

#two {
    background-image: url('maleimage.png');
    width: 200px;
    height: 250px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

#three {
    background-image: url('maleimage3.png');
    width: 200px;
    height: 250px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

#four {
    background-image: url('femaleimage4.png');
    width: 200px;
    height: 250px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
}

