@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=IBM+Plex+Mono:wght@100&family=Kanit&display=swap');
nav {
    /* font-family: 'Climate Crisis', cursive; */
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Kanit', sans-serif;
}

nav {
    background-color: black;
    overflow: hidden;
    }

ul {
    list-style-type: none;
    display: flex;
    color: white;
    padding-right: 50px;
    padding-bottom: 0px;
    justify-content: space-between;
}

div {
    text-align: center;
    margin: 100px;
    padding-top: 100px;
    
}

body {
    padding-bottom: 60px; 
  }
  
footer {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 60px; 
}

li {
    color: white;
}

li:hover {
    cursor: pointer;
    color: aquamarine;
}
