.container{
    font-display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    
}


.wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: space-around;
   

}

.center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    width: 60px;
    
}

.box {
    border: 1px solid black;
    background-color: yellow;
    height: 100%;
    width: 100%;
}

.left {
    justify-content: left;
    /* height: 60px;
    width: 60px; */
}

.right{
    justify-content: right;
}




