.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(40, 26, 10, 0.499);
}

.navbar a {
    font-size: 24px;
    color: #333;
    transition: color 1.3s ease-in-out;
}

.navbar a:hover {
    color: #007bff;
}


.tittle {
    display: flex;
    padding: 50px;
    margin-left: 150px;
}

.tittle .j {
    font-size: 2em;
}

.one {
    display: flex;
    margin-left: 300px;
    margin-top: -80px;
}

