.container {
    display: flex;
    border: 2px solid red;
    flex-direction: column;
    height: flex-end;
    text-align: center;
    margin: 100px;
    padding: 0px 20px;

}

#one {
    background-color: aquamarine;
    color: white;
    align-items: center;
    padding: 20px;
}

#two {
    background-color: aquamarine;
    color: white;
    align-self: flex-end;
    padding: 20px;
    margin: 0 0px;
    
}

#three {
    background-color: aquamarine;
    color: white;
    align-items: center;
    padding: 20px;
}