@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=IBM+Plex+Mono:wght@100&family=Kanit&display=swap');
.container {

    /* Grid Declarations */

    display: grid;
    grid-template-rows: 100px 600px;
    grid-template-columns: 100px 300px;
    
    
    /* Properties */

    text-align: center;
    border: 5px double rgba(58, 79, 60, 0.444) ;
    margin: 50px;
    padding: 20px 20px;
    
    
}

@nedia screen and (max-width: 375px) {
    .container {
        
        

        /* Grid Declarations */
        display: grid;
        grid-template-rows: 100px 300px;
        grid-template-columns: 100px 280px;
        
        
        /* Properties */
    
        text-align: center;
        border: 5px double rgba(58, 79, 60, 0.444) ;
        margin: 50px;
        padding: 20px 20px;
        
    }   
}


#one {
    
    /* Grid Declarations */
   
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 1;
    grid-row-end: 1;
    
    /* Properties */
    
    background-image: ;
    border-radius: 50%;
    background-color: rgb(20, 85, 63);
    color: white;
    
    /* align-items: center;
    padding: 10px; */
    
    
}

#two {

    /* Grid Declaration */

    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
    
    /* Properties */
    
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.601);
    /* align-items: center;
    padding: 10px;
    height: 300px; */
    
}

#three {

    /* Grid Declarations */

    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 4;
    /* background-color: aquamarine;
    color: white;
    align-items: center;
    padding: 10px; */
    
}